body {
  display: flex;
  justify-content: center;
  margin-top:3em;
  background-color: #372D4D;
}

img {width: 150px;}

.robot {

 /* transform: translate(100px, 100px) scale(2) rotate(45deg);*/
transform: scale(2) rotate(45deg) translate(100px, 100px);
/* both are diff*/

  

}




















